<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update <%=pokemon.Name%></title>
</head>
<body>
    <a href="/oneMon/<%=pokemon.Name%>">Back to <%=pokemon.Name%> info</a>

    <!-- This form, when submitted, sends form data to the back-end -->
    <form action="/api/pokemon/updateOnePokemon/<%=pokemon.Name%>?_method=PUT" method="post">

        <!-- Each name attribute pertains to how it's captured in the back-end -->
        <label for="PokedexNo">PokedexNo</label>
        <input type="text" placeholder="<%=pokemon.PokedexNo%>" value="<%=pokemon.PokedexNo%>" id="PokedexNo" name="PokedexNo"><br><br>

        <label for="Name">Name</label>
        <input type="text" placeholder="<%=pokemon.Name%>" value="<%=pokemon.Name%>" id="Name" name="Name"><br><br>

        <label for="Type">Type</label>
        <input type="text" placeholder="<%=pokemon.Type%>" value="<%=pokemon.Type%>" id="Type" name="Type"><br><br>
        
        <label for="Moves">Moves</label>
        <input type="text" placeholder="<%=pokemon.Moves.join(", ")%>" value="<%=pokemon.Moves.join(", ")%>" id="Moves" name="Moves" size="50"><br><br>

        <input type="submit" name="_method" value="Update Pokemon">
    </form>
</body>
</html>